// global
$font-family: 'Roboto', Arial, sans-serif;
$light-grey: #e0e0de;
$dark-grey: #111;
$navy-blue: #010917; // rgba(1, 9, 23, 1)
$light-blue: #27aae2;
$pink: #e51280;
$white: #fff;
$black: rgba(0, 0, 0, 1);
// Nav
$nav-svg-color: #9f9f9f;

// Slider
$slider-border-color: #444;

// global space
$space: 20px;

$icon-size: 24px;
