.slider-year {
  bottom: 0;
  height: 50px;
  left: 50%;
  margin-bottom: 0;
  margin-left: -350px;
  padding: 0 100px;
  position: absolute;
  // position: fixed;
  width: 500px;
  z-index: 200;

  .slider {
    border: 0;
    height: 50px;
    margin: 0 auto;
    position: absolute;
    transform: translate(0, 120px);
    width: 500px;

    .ui-slider-range {
      border-bottom: 1px solid $slider-border-color;
      height: 7px;
      outline: none;
      position: absolute;
      width: 500px;
    }

    .ui-slider-handle {
      cursor: pointer;
      font-weight: 300;
      height: 14px;
      margin-left: -7px;
      outline: none;
      position: absolute;
      width: 14px;

      svg {
        position: absolute;
      }

      .tooltip {
        background: rgba($navy-blue, .9);
        border: 1px solid;
        border-radius: 6px;
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: 300;
        height: 36px;
        line-height: 40px;
        margin-left: -27px;
        margin-top: -45px;
        outline: none;
        position: absolute;
        text-align: center;
        width: 64px;
      }

      .arrow {
        bottom: 8px;
        display: block;
        height: 14px;
        left: 50%;
        margin-left: -34px;
        position: absolute;
        visibility: hidden;
        width: 66px;

        &::after {
          @include rotate(45deg);
          background: $navy-blue;
          border: 1px solid;
          content: '';
          height: 25px;
          left: 20px;
          position: absolute;
          top: -27px;
          width: 25px;
        }
      }
    }
  }
}
