<div id="intro-page" class="on-boarding">
  <div class="bg"></div>
  <div class="container">
    <div class="preload-container">
      <div class="logo">
        <img src="images/ui/landing-loom-logo.svg" alt="">
      </div>
      <h1 class="heading">EVERY STORY HAS A THREAD.</h1>
      <p>Weave through collections, traverse the relationships and explore the data.</p>
      <!-- <div class="seperator"></div> -->
      <div class="preloader">
        <div class="bar bar-bg"></div>
        <div class="bar bar-progress"></div>
      </div>
      <div class="messages">
        <p>Message1</p>
        <p>message2</p>
      </div>
    </div>

    <div class="footer">
      <p>An experiment with the State Library of NSW</p>
      <a href="http://www.sl.nsw.gov.au" target="_blank"><img id="sl-logo" src="images/ui/sl-logo.png" alt=""></a>
      <a href="http://grumpysailor.com" target="_blank"><img class="logo" id="gs-logo" src="images/ui/gs-logo.png" alt=""></a>
      <a href="http://dxlab.sl.nsw.gov.au/" target="_blank"><img id="dx-logo" src="images/ui/dx-lab-logo.png" alt=""></a>
    </div>
  </div>
</div>
