<div class="map-label" id="<%- id %>">
  <p class="title"><%- title %></p>
  <p class="date dyn-color"></p>
  <div class="details">
    <ul class="records">
      <li><p class="link">DIGITISED RECORDS</p><span class="d-records dyn-color"></span></li>
      <li><p class="link">TOTAL RECORDS</p><span class="t-records dyn-color"></span></li>
      <li><p>DIGITISED STATUS</p><span class="d-status dyn-color"></span>
      <div class="d-status-bar"><span class="dyn-bg-color" style="width: 00%"></span></div></li>
      </ul>
    <a class="view-records-btn"><span>View records</span>
    <svg width="26" height="15" viewPort="0 0 26 15" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <line x1="17" y1="0" x2="26" y2="7.5" stroke="white" stroke-width="1" />
    <line x1="17" y1="15" x2="26" y2="7.5" stroke="white" stroke-width="1" />
    <line x1="0" y1="7.5" x2="25" y2="7.5" stroke="white" stroke-width="1" /></svg></a>
  </div>
</div>
