<div class="makers tabs">
	<div class="tab">
		<div class="bar"></div>
		<div class="fill"></div>

	</div>
	<div class="tab-title"><h1 class="heading">MAKERS</h1></div>
  <div class="content">
	<h1>THE MAKERS</h1>
	<br>
	<p>AN EXPERIMENT BY</p>
	<a href="http://dxlab.sl.nsw.gov.au/" target="_blank"><img class="logo" id="dx-logo" src="images/ui/dx-lab-logo.png" alt=""></a>
        
	<p>CREATED BY</p>
	<a href="http://grumpysailor.com" target="_blank"><img class="logo" id="gs-logo" src="images/ui/gs-logo.png" alt=""></a>
	<p>POWERED BY</p>
	<a href="http://www.sl.nsw.gov.au" target="_blank"><img class="logo" id="sl-logo" src="images/ui/sl-logo.png" alt=""></a>
  </div>

</div>