<div class="data tabs">
  <div class="tab">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
	<div class="tab-title"><h1 class="heading">DATA</h1></div>
  <div class="content">
  	<h1>DATA</h1>
  	<div class="content-container">
	  	<p class="data-title">TOTAL IMAGES IN LOOM</p>
		<p class="num">3,287</p>
		<p class="data-title">TOTAL TAGS IN LOOM</p>
		<p class="num">1,396</p>
		<p class="data-title">TOTAL DIGITISED IMAGES<br>OF THE SYDNEY AREA IN<br>THE LIBRARY</p>
		<p class="num">14,664</p>
		<p class="data-title">TOTAL IMAGES AVAILABLE<br>OF THE SYDNEY AREA IN<br>THE LIBRARY ONLY</p>
		<p class="num">1,145</p>
  	</div>
  </div>
</div>
