<div class="views tabs">
	<div class="tab">
		<div class="bar"></div>
		<div class="fill"></div>

	</div>
	<div class="tab-title"><h1 class="heading">VIEWS</h1></div>
  	<div class="content">
		<h1>VIEWS</h1>
		<div class="content-container">
			<p>Weave through collections,traverse the relationships and explore the data.</p>

			<div class="views">
				<div class="btn tunnel-btn"></div>
				<h1 class="heading">LOOSE LEAF</h1>
				<p class="views-p">A time tunnel of Sydney, featuring archived images over thirteen decades. Sort by tags and explore the collection.</p>
			</div>
			<div class="views">
				<div class="btn map-btn"></div>
				<h1 class="heading">ATLAS</h1>
				<p class="views-p">The data is contextualised over a map of Sydney. The elevated peaks represent the digitised data, and the troughs represent content only available in the library.</p>
			</div>
			</div>
			<div class="views">
				<div class="btn space-btn"></div>
				<h1 class="heading">INDEX</h1>
				<p class="views-p">Index correlates the data and the trends in the library's collection based on topics items have been tagged by.</p>
			</div>
			<div class="break"></div>
			<div class="views">
				<div class="btn fav-btn"></div>
				<h1 class="heading">FAVOURITES</h1>
				<p class="views-p">Tag your favourite images and weave your own threads through the collection.</p>
			</div>
		</div>

  	</div>

</div>
